.user-input-container {
    margin-top: 1rem;
    width: 50%;
    font-size: 18px;
}

.context-prompt {
    color: black;
    display: flex;
    align-items: left;
}

.context-prompt-empty {
    color: red;
    display: flex;
    align-items: left;
}

.user-context {
    border: solid black 2px;
    border-radius: 5px;
    border-width: 2px;
    width: 100%;
}

.user-context-empty {
    border: solid red 2px;
    border-radius: 5px;
    border-width: 2px;
    width: 100%;
}

.user-question-prompt {
    color: black;
    margin-top: 1rem;
    display: flex;
    align-items: left;
}

.user-question-prompt-empty {
    color: red;
    margin-top: 1rem;
    display: flex;
    align-items: left;
}

.user-question {
    border: solid black 2px;
    border-radius: 5px;
    display: flex;
    width: 100%;
}

.user-question-empty {
    border: solid red 2px;
    border-radius: 5px;
    display: flex;
    width: 100%;
}

.user-question-empty {
    border: solid red 2px;
    display: flex;
    width: 100%;
}

.user-submit-button {
    margin-top: 1rem;
    padding: 0.5rem;
    border: solid rgb(46, 46, 46) 1px;
    border-radius: 100px;
    background-color: rgba(219, 219, 219, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease-in-out;
}

.user-submit-button:hover {
    background-color: rgb(177, 255, 255);
}