body {
    background-color: aliceblue;
    color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
    max-width: 1280px;
    height: 425px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: rgb(171, 161, 255);
    border-radius: 75px;
}

h1 {
    border: solid black 2px;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-size: 14;
    margin: 1rem;
    background-color: rgba(219, 219, 219, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.input-output {
    display: flex
}